<!DOCTYPE html>
<html ng-app="HelloWorld">
<head>
  <title>Hello World: Enterprise Edition</title>
  <script src="app.js"></script>
</head>
<body>
  <main>
    <react-component name="Hello"></react-component>
    <react-component name="World"></react-component>
  </main>
</body>
</html>
