<!DOCTYPE html>
<html ng-app="HelloWorld">
<head>
  <title>Hello World: Enterprise Edition</title>
  <script src="app.js"></script>
</head>
<body>
  <main><hw-hello></hw-hello> <hw-world></hw-world></main>
</body>
</html>
